* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #1f2232;
}

h1 {

    font-family: 'Libre Baskerville', serif;
}
header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 160px;
    width: auto;
}

nav ul {
    display: flex;
}

nav li {
    padding: 0 20px;
}

a {
    font-size: 16px;
    font-weight: 500;
    color: #fde8e9;
    cursor: pointer;
}

nav li a:hover {
    color: #e3bac6;
    transition: all 0.4s ease 0s;
}

.logo {
    order: 1;
}

nav {
    order: 2;
}

/*Intro */
.intro-text {
    text-align: center;
    color: #fde8e9;
    animation: fadeInUp 2s ease-in-out;
}

.intro-text h1 {
    font-size: 45px;
    margin-top: 150px;
    color: #fde8e9;
}

.intro-text h1 span {
    color: #e3bac6;
    font-family: 'Libre Baskerville', serif; 
}

.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 0px; /* Adjust to ensure content is visible below fixed header */
}

.home-content {
    flex: 1;
    padding-right: 20px;
}

.home-content p {
    font-size: 25px;
    line-height: 1.6;
    color: #fde8e9;
}

.home-content p span {
    color: #e3bac6;
}

.home-content button {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #e3bac6;
    border-radius: 200px;
    padding: 9px 25px;
}

.home-content button:hover {
    background-color: #232634;
}

.home-image {
    flex: 0.5;
}

.home-image img {
    max-width: 100%;
    height: auto;
}

/* About Me Styling */

.about-section {
    text-align: center;
    padding: 100px;
    background-color: #1f2232;
}

.about-section h1 {
    font-size: 45px;
    margin-bottom: 75px;
    color: #e3bac6;
    animation: fadeInUp 1s ease-in-out;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #232634;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fde8e9;
    animation: fadeInUp 1.5s ease-in-out;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e3bac6;
}

.card p {
    font-size: 16px;
}

/* parallax styling */

.parallax {
    height: 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url('cutehearts.gif'); /* Replace with your image */
}

.parallax2 {
    background-image: url('path_to_your_image_2.jpg'); /* Replace with your image */
}

/* Text Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-text {
    animation: fadeInUp 2s ease-in-out;
}